@model IEnumerable<MaerskLine.Models.Cargo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Warehouse.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Warehouse.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CargoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CargoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CargoID })
        </td>
    </tr>
}

</table>
